<!-- 翻訳テストパーシャル -->
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 run-masonry">
	<div class="offer offer-radius offer-primary">
		<div class="shape">
			<div class="shape-text">
				No.<%= num += 1 %>								
			</div>
		</div>
		<div class="offer-content">
	  	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 test-cell-question">
				<div class="test-cell-question-question">						
					<%= test_entry.eng_word %>	とは?
				</div>						
				<ul class="test-cell-question-option">
			      	<li><label><%= radio_button_tag "radio#{num}", option_array[0], true %><%= option_array[0] %></label></li>
			      	<li><label><%= radio_button_tag "radio#{num}", option_array[1] %><%= option_array[1] %></label></li>
			      	<li><label><%= radio_button_tag "radio#{num}", option_array[2] %><%= option_array[2] %></label></li>
			      	<li><label><%= radio_button_tag "radio#{num}", 0 %>わからない</label></li>
				</ul>
			</div>
			<div class ="col-xs-8 col-sm-8 col-md-8 col-lg-8 test-cell-answer">
				<div  id="result<%= num %>"><img class="img-circle" src="<%= image_path 'sloth.png' %>"　height="200" width="200" alt="翻訳テスト image"></div>	
	    	</div>
		</div>
	</div>
</div>
