<% if @tested_entry_5.result.is_a?(TrueClass) then %>
  <img class="" src="<%= image_path 'awesome.png' %>" alt="awesome image">
<% else %>
  <img class="" src="<%= image_path 'ohshoot.png' %>" alt="ohshoot image">
<% end %>

<div>
<div id="">Ans. <%= @test_entry_5.jpn_word %></div>

<div id="description_5"></div>
<%= javascript_tag do %>
  html= <%= raw @test_entry_5.description.to_json %>;
  //console.log(html)
  function writeHtml() {
    document.getElementById("description_5").innerHTML = html;
  }
  writeHtml();
<% end %>
<iframe width="350" height="250" src="<%= @test_entry_5.youtube_url %>" frameborder="0" allowfullscreen=""></iframe>

</div>