<!-- テスト結果パーシャル -->
<% result_collection = Array.new %>
<% passed_word_array = Array.new %>
<% failed_word_array = Array.new %>
<% result_collection = result_collection(test_id) %>
<% passed_word_array = result_collection[0] %>
<% failed_word_array = result_collection[1] %>

<div class="row test-template">
  <div class="test-template-action" id="test_template_action">
   
  </div>
  <div class="test-template-header code-lang">
      <span class="bold">テスト実施日: <%= test_date(test_id)%></span>
  </div>
  <div class="test-template-body">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading ">
            <i class="fa fa-graduation-cap fa-fw"></i>スコア
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body panel-result test-template-result">
          <span class="test-template-result-score"><%= test_score(test_id) %></span><span>点/ 5</span>
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <div class="panel panel-primary">
        <div class="panel-heading panel-heading-honyaku">
            <i class="fa fa-thumbs-o-up fa-fw"></i> 正解
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body panel-result">
          <% if passed_word_array.any? %>
            <% passed_word_array.each do |passed_word| %>
            <div class = "panel-result-word">
              <a href="<%=passed_word[1] %>" target="_blank"><%= passed_word[0] %></a>
            </div>
          <% end %>
          <% else %>None.
          <% end %>
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>            
  
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
       <div class="panel panel-primary">
          <div class="panel-heading">
              <i class="fa fa-thumbs-o-down fa-fw "></i> 不正解
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body panel-result">
            <% if failed_word_array.any? %>
              <% failed_word_array.each do |failed_word| %>
                <div class = "panel-result-word">
                  <a href="<%=failed_word[1]%>" target="_blank"><%= failed_word[0] %></a>
                </div>
              <% end %>
              <% else %>None.
              <% end %>

          </div>
          <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
  </div>
</div>

